{% load static %}

<div>&copy; 2024 VegeView. All Rights Reserved.</div>
<div class="footer-links">
    <a href="#" class="footer-link">Terms of Service</a>
    <a href="#" class="footer-link">Privacy Policy</a>
    <a href="#" class="footer-link">Contact Us</a>
</div>
<div class="footer-social">
    <a href="#" class="social-icon"><img src="{% static 'img/facebook.png' %}" alt="facebook"></a>
    <a href="#" class="social-icon"><img src="{% static 'img/twitter.png' %}" alt="twitter"></a>
    <a href="#" class="social-icon"><img src="{% static 'img/instagram.png' %}" alt="instagram"></a>
</div>